/***** BG - Mobile *****/

.hero {
  background-color: var(--color-text-sec);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/bg/bg-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 112px 0;
  max-width: 427px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg/bg-mobile@2x.jpg");
    max-width: 427px;
  }
}

/***** /BG - Mobile *****/

/* ********************* Tablet (768px - 1157px) ********************** */

/***** BG - Tablet *****/

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg/bg-tablet@1x.jpg");
    max-width: 768px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg/bg-tablet@2x.jpg");
    max-width: 768px;
  }
}

/***** /BG - Tablet *****/

/***** BG - Desctop *****/

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg/bg-desctop@1x.jpg");
    max-width: 1440px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg/bg-desctop@2x.jpg");
    max-width: 1440px;
  }
}

/***** /BG - Desctop *****/
