.mobile-menu-container-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.mobile-menu_container-reletiv {
  outline: 1px solid black;
  position: relative;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.mobile-menu_btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-link-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.link-color {
  color: #4d5ae5;
}

.mobile-list-nav:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-nav {
  padding-bottom: 284px;
}

.mobile-link-adress-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
  display: block;
  margin-bottom: 40px;
}

.mobile-link-adress-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding-bottom: 48px;
}

.mobile-menu-social-svg {
  display: flex;
  justify-content: center;
  gap: 56px;
}

.mobile-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mobile-social-link {
  width: 100%;
  height: 100%;
  /* background-color: var(--color-logo); */
  background-color: #4d5ae5;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-svg-icon {
  fill: #f4f4fd;
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  /* background-color: var(--color-text-hover-focus); */
  background-color: #404bbf;
}
