/* *****************************  COMPONENTS  ******************************* */
:root {
  --color-logo: #4d5ae5;
  --color-text-head: #434455;
  --color-text-sec: #2e2f42;
  --color-white-light: #f4f4fd;
  --color-text-hover-focus: #404bbf;
  --bg-color-head: #ffffff;
  --color-border: #e7e9fc;
  --color-svg-logo-cust: #8e8f99;
  --color-svg-social-hov: #31d0aa;
  --trans-time-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.section {
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-head);
  background-color: var(--bg-color-head);
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--color-text-hover-focus);
}

.link-adress:hover,
.link-adress:focus {
  color: var(--color-text-hover-focus);
}
/* *****************************  /COMPONENTS  ******************************* */

/* *****************************  FIRST-MOBILE  ******************************* */

/***** BG - Mobile *****/

.hero {
  background-color: var(--color-text-sec);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/bg/bg-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg/bg-mobile@2x.jpg");
  }
}

/***** /BG - Mobile *****/



/* ******* RULES (0px - 767px) ******** */

@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
  }

  .menu-nav {
    display: none;
  }

  .address-header {
    display: none;
  }

  .container-hero-mobile-pading {
    padding: 112px 54px;
  }

  .icon-container-skills {
    display: none;
  }

  .menu-skills {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .our-work {
    display: none;
  }

  .menu-our-team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
  }

  .menu-cust-svg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
  }

  .list-item-cust {
    width: calc((100% - 48px) / 2);
    height: 88px;
  }

  .container-foot-logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }

  .cont-form-footer {
    width: 100%;
  }

  .container-footer-form {
    width: 100%;
  }

  .link-logo-footer {
    text-align: center;
  }

  .desc-foot-svg {
    text-align: center;
  }

  .container-foot-svg {
    margin-bottom: 72px;
  }

  .form-lable-footer {
    width: 100%;
  }
}

/* ******* /Rules (0px - 767px) ******** */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
  margin-right: 76px;
}

.nav-page .logo-chank {
  color: var(--color-text-sec);
}

.container-logo-btn-open {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu_btn-open {
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
}

/***** Mobile-Menu *****/

.mobile-menu-container-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--bg-color-head);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container-fixed.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu_container-reletiv {
  position: relative;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.mobile-menu_btn-close {
  position: absolute;
  top: 24px;
  right: 19px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-border);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-link-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.link-color {
  color: var(--color-logo);
}

.mobile-list-nav:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-nav {
  padding-bottom: 284px;
}

.mobile-link-adress-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-logo);
  display: block;
  margin-bottom: 40px;
}

.mobile-link-adress-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-text-head);
  display: block;
  padding-bottom: 48px;
}

.mobile-menu-social-svg {
  display: flex;
  justify-content: center;
  gap: 56px;
}

.mobile-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mobile-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-svg-icon {
  fill: var(--color-white-light);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: #404bbf;
}
/***** /Mobile-Menu *****/


/***** Hero *****/

.title-page {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--bg-color-head);
  margin-bottom: 72px;
}

.button-order {
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-color-head);
  background-color: var(--color-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--trans-time-cubic);
}

.button-order:hover,
.button-order:focus {
  background-color: var(--color-text-hover-focus);
}

/*********** Modal-Window ***********/

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--trans-time-cubic),
    visibility var(--trans-time-cubic);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  width: 408px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-height: 576px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: var(--color-border);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color var(--trans-time-cubic),
    border var(--trans-time-cubic);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-text-hover-focus);
  border: none;
}

.svg-modal-close-btn {
  transition: fill var(--trans-time-cubic);
}

.modal-close-btn:hover .svg-modal-close-btn,
.modal-close-btn:focus .svg-modal-close-btn {
  fill: var(--bg-color-head);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.desc-title-modal-form {
  display: block;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
  color: var(--color-text-sec);
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-svg-logo-cust);
  margin-bottom: 4px;
}

.container-lable {
  margin-bottom: 8px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  padding-left: 38px;

  transition: border-color var(--trans-time-cubic);
}

.contact-form-input:focus {
  border-color: var(--color-logo);
}

.svg-cont-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--trans-time-cubic);
}

.contact-form-input:focus + .svg-cont-input {
  fill: var(--color-logo);
}

.container-input-svg {
  display: block;
  position: relative;
}

.container-lable-textarea {
  margin-bottom: 16px;
}

.contact-textarea-form-input {
  width: 100%;
  padding: 8px 16px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  resize: none;
  transition: border-color var(--trans-time-cubic);
}

.contact-textarea-form-input:focus {
  border-color: var(--color-logo);
}

.container-chekbox {
  margin-bottom: 24px;
}

.form-label-chekbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-svg-logo-cust);
}

.container-checkbox-svg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-text-sec);
  border-radius: 2px;
  fill: transparent;
  cursor: pointer;
}

.chek-box:checked + .form-label-chekbox > .container-checkbox-svg {
  background-color: var(--color-text-hover-focus);
  border: none;
  fill: var(--bg-color-head);
  border-color: var(--color-text-hover-focus);
}

.accept-link {
  color: var(--color-logo);
}

.visually-hidden {
  position: absolute;
  appearance: none;
}

.btn-form-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  background: var(--color-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-color-head);

  transition: background-color var(--trans-time-cubic);
}

.btn-form-submit:hover,
.btn-form-submit:focus {
  background-color: var(--color-text-hover-focus);
}

/*********** /Modal-Window ***********/

/***** Skills *****/

.skills {
  padding-top: 96px;
  padding-bottom: 96px;
}

.title-description-skills {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text-sec);
  margin-bottom: 8px;
}

.description-skills {
  font-weight: 500;
  color: var(--color-text-head);
}

/***** Our-team *****/

.our-team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--color-white-light);
}

.list-our-team {
  max-width: 264px;
  background-color: var(--bg-color-head);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text-sec);
  margin-bottom: 72px;
}

.container-description-our-team {
  padding: 32px 16px;
}

.title-description-our-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-text-sec);
  padding-bottom: 8px;
}

.description-our-team {
  text-align: center;
  color: var(--color-text-head);
  padding-bottom: 8px;
}

/****** SVG - Our Team  ******/

.menu-social-svg {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social-list-link {
  width: 100%;
  height: 100%;
  background-color: var(--color-logo);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--trans-time-cubic);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-text-hover-focus);
}

.social-svg-icon {
  fill: var(--color-white-light);
}

/****** /SVG - Our Team ******/

/***** Customers *****/

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--bg-color-head);
}

.title-customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text-sec);
  padding-bottom: 72px;
}

/****** SVG - Custumers ******/

.link-logo-cust {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;

  border: 1px solid var(--color-svg-logo-cust);
  color: var(--color-svg-logo-cust);

  transition: border-color var(--trans-time-cubic),
    color var(--trans-time-cubic);
}

.link-logo-cust:hover,
.link-logo-cust:focus {
  border-color: var(--color-text-hover-focus);
  color: var(--color-text-hover-focus);
}

.logo-cust-svg {
  fill: currentColor;
}
/****** /SVG - Custumers ******/

/***** Footer *****/

.footer-page {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--color-text-sec);
}

.link-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
  display: block;
  margin-bottom: 16px;
}

.logo-chank-footer {
  color: var(--color-white-light);
}

.description-footer {
  color: var(--color-white-light);
  max-width: 268px;
  margin-left: auto;
  margin-right: auto;
}

.desc-foot-svg {
  font-weight: 500;
  color: var(--bg-color-head);
  margin-bottom: 16px;
}

.menu-social-svg-footer {
  gap: 16px;
}

.desc-foot-svg {
  font-weight: 500;
  color: var(--bg-color-head);
  margin-bottom: 16px;
}

/* .cont-form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
} */

.cont-form-inp-footer {
  resize: none;
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-color-head);
  border: 1px solid var(--color-svg-logo-cust);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 16px;
}

.btn-foot-subscr {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 8px 8px 24px;
  color: var(--bg-color-head);
  background-color: var(--color-logo);
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.btn-foot-subscr:hover,
.btn-foot-subscr:focus {
  background-color: var(--color-text-hover-focus);
}

.svg-foot-subscr {
  margin-left: 16px;
  fill: var(--bg-color-head);
}

/* ********************* Tablet (768px - 1157px) ********************** */


/***** BG - Tablet *****/

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg/bg-tablet@1x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg/bg-tablet@2x.jpg");
  }
}

/***** /BG - Tablet *****/



@media screen and (min-width: 768px) and (max-width: 1157px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .container {
    width: 768px;
  }

  .mobile-menu_btn-open {
    display: none;
  }

  .link-logo {
    margin-right: 120px;
  }

  .link-adress {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-text-head);
  }

  .container-hero-mobile-pading {
    padding: 112px 136px;
  }

  .title-page {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }

  .menu-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .list-skills {
    width: calc((100% - 56px) / 2);
    height: 120px;
  }

  .icon-container-skills {
    display: none;
  }

  .title-description-skills {
    text-align: left;
  }

  .our-work {
    display: none;
  }

  .container-our-team-padding {
    padding-left: 108px;
    padding-right: 108px;
  }

  .menu-our-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .container-cust-padding {
    padding-left: 108px;
    padding-right: 108px;
  }

  .menu-cust-svg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }

  .list-item-cust {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }

  .container-footer {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
  }

  .container-foot-logo {
    align-items: flex-start;
  }

  .container-foot-svg {
    align-items: flex-start;
  }

  .container-footer-form {
    align-items: flex-start;
  }

  .cont-form-footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .cont-form-inp-footer {
    width: 264px;
  }

  .menu-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.nav-page {
  display: flex;
}

.link-nav {
  position: relative;
  font-weight: 500;
  color: var(--color-text-sec);
}

.underlining {
  color: var(--color-text-hover-focus);
}

.underlining::after {
  position: absolute;
  display: block;
  width: 100%;
  content: "";
  left: 0;
  bottom: -31px;
  height: 4px;
  background-color: var(--color-text-hover-focus);
  border-radius: 2px;
}

/* ********************* Desktop (1157px +) ********************** */

/***** BG - Desctop *****/

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 100vw;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/bg/bg-desctop@1x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
    screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/bg/bg-desctop@2x.jpg');
    }
  }

  /***** /BG - Desctop *****/



/***** /BG *****/

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .mobile-menu_btn-open {
    display: none;
  }

  .address-header {
    font-style: normal;
    margin-left: auto;
  }

  .menu-address {
    display: flex;
    gap: 40px;
  }

  .link-adress {
    display: inline-block;
    color: var(--color-text-head);
    transition: color var(--trans-time-cubic);
  }

  .underlining::after {
    bottom: -24px;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .title-page {
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .skills {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .menu-skills {
    display: flex;
    column-gap: 24px;
  }

  .list-skills {
    width: calc((100% - 3 * 24px) / 4);
  }

  .icon-container-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background: var(--color-white-light);
    border-radius: 4px;
  }

  .title-description-skills {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .description-skills {
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .our-work {
    padding-bottom: 120px;
  }

  .menu-our-work {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .menu-our-team {
    display: flex;
    column-gap: 24px;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .menu-cust-svg {
    display: flex;
    gap: 24px;
  }

  .list-item-cust {
    width: calc((100% - 5 * 24px) / 6);
    height: 88px;
  }

  .footer-page {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-footer {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    padding: 0 15px;
  }

  .container-foot-logo {
    margin-right: 120px;
  }

  .description-footer {
    max-width: 264px;
    color: var(--color-white-light);
  }

  .container-foot-svg {
    margin-right: 80px;
  }

  .cont-form-footer {
    display: flex;
  }

  .form-lable-footer {
    width: 264px;
    margin-right: 24px;
  }
}
