:root {
  --color-logo: #4d5ae5;
  --color-text-head: #434455;
  --color-text-sec: #2e2f42;
  --color-white-light: #f4f4fd;
  --color-text-hover-focus: #404bbf;
  --bg-color-head: #ffffff;
  --color-border: #e7e9fc;
  --color-svg-logo-cust: #8e8f99;
  --color-svg-social-hov: #31d0aa;
  --trans-time-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-head);
  background-color: var(--bg-color-head);
}

/********** Header **********/
.container-header {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header .menu-link:hover,
.page-header .menu-link:focus {
  color: var(--color-text-hover-focus);
}

.page-header {
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-page {
  display: flex;
  align-items: center;
}

.menu-nav {
  position: relative;
  display: flex;
  gap: 40px;
}

.link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
  margin-right: 76px;
}

.nav-page .logo-chank {
  color: var(--color-text-sec);
}

.menu-nav .menu-link {
  font-weight: 500;
  color: var(--color-text-sec);
}

.menu-nav .underlining {
  position: relative;
  color: var(--color-text-hover-focus);
}

.underlining::after {
  position: absolute;
  display: block;
  width: 100%;
  content: "";
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--color-text-hover-focus);
  border-radius: 2px;
}

.page-header .menu-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color var(--trans-time-cubic);
}

.menu-address {
  display: flex;
  gap: 40px;
}

.address-header {
  font-style: normal;
  margin-left: auto;
}

.menu-address .menu-link {
  color: var(--color-text-head);
}

/********** /Header **********/

/* ********** Hero Section 1 ********** */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--color-text-sec);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/bg/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-page {
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  color: var(--bg-color-head);
}

.button-order {
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-color-head);
  background-color: var(--color-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--trans-time-cubic);
}

.button-order:hover,
.button-order:focus {
  background-color: var(--color-text-hover-focus);
}
/* ********** /Hero  ********** */

/* ********** Skills Section 2 ********** */

.skills {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-skills {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/****** SVG - Skills ******/
.icon-container-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background: var(--color-white-light);
  border-radius: 4px;
}
/****** /SVG - Skills ******/

.menu-skills {
  display: flex;
  column-gap: 24px;
}

.list-skills {
  width: calc((100% - 3 * 24px) / 4);
}

.title-description {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-sec);
}
/* ********** /Skills ********** */

/* ********** Our Work Section 3 ********** */

.our-work {
  padding-bottom: 120px;
}

.container-our-work {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu-our-work {
  display: flex;
  column-gap: 24px;
}

.list-our-work {
  width: calc((100% - 2 * 24px) / 3);
}

.title-section {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text-sec);
}
/* ********** /Our Work ********** */

/* ********** Our Team Section 4 ********** */

.our-team {
  background-color: var(--color-white-light);
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-our-team {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu-our-team {
  display: flex;
  column-gap: 24px;
}

.list-our-team {
  background-color: var(--bg-color-head);
  width: calc((100% - 2 * 24px) / 3);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-description {
  padding: 32px 0;
}

.container-description .title-description {
  text-align: center;
  margin-bottom: 8px;
}

.container-description .description {
  text-align: center;
  margin-bottom: 8px;
}

/****** SVG - Our Team  ******/
.menu-social-svg {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social-list-link {
  width: 100%;
  height: 100%;
  background-color: var(--color-logo);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--trans-time-cubic);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-text-hover-focus);
}

.social-svg-icon {
  fill: var(--color-white-light);
}
/****** /SVG ******/

/* ********** /Our Team ********** */

/* ********** Customers Section 5 ********** */

.customers {
  padding: 120px 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/****** SVG - Custumers ******/
.menu-cust-svg {
  display: flex;
  gap: 24px;
}

.list-item-cust {
  width: calc((100% - 5 * 24px) / 6);
  height: 88px;
}

.link-logo-cust {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;

  border: 1px solid var(--color-svg-logo-cust);
  color: var(--color-svg-logo-cust);

  transition: border-color var(--trans-time-cubic),
    color var(--trans-time-cubic);
}

.link-logo-cust:hover,
.link-logo-cust:focus {
  border-color: var(--color-text-hover-focus);
  color: var(--color-text-hover-focus);
}

.logo-cust-svg {
  fill: currentColor;
}
/****** /SVG - Custumers ******/

/* ********** /Customers ********** */

/* ********** Footer ********** */
.footer-page {
  padding: 100px;
  background-color: var(--color-text-sec);
}

.container-footer {
  display: flex;
  align-items: baseline;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-page .description {
  max-width: 264px;
  color: var(--color-white-light);
}

.footer-page .logo-chank {
  color: var(--color-white-light);
}

.footer-page .link-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.container-foot-logo {
  margin-right: 120px;
}

.desc-foot-svg {
  font-weight: 500;
  font-size: 1.5;
  line-height: 24px;
  margin-bottom: 16px;
  color: var(--bg-color-head);
}

/****** SVG - Footer ******/

.container-foot-svg {
  margin-right: 80px;
}

.container-foot-svg .menu-social-svg {
  gap: 16px;
}

.container-foot-svg .social-list-link:hover,
.container-foot-svg .social-list-link:focus {
  background-color: var(--color-svg-social-hov);
}
/****** /SVG - Footer ******/

/******  Footer - Form - Subscr ******/

.cont-form-footer {
  display: flex;
}

.form-lable-footer {
  margin-right: 24px;
}

.cont-form-inp-footer {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-color-head);
  border: 1px solid var(--bg-color-head);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.btn-foot-subscr {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 165px;
  height: 40px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-color-head);
  background-color: var(--color-logo);
  border: none;
  border-radius: 4px;
}

.btn-foot-subscr:hover,
.btn-foot-subscr:focus {
  background-color: var(--color-text-hover-focus);
}

.svg-foot-subscr {
  margin-left: 16px;
  fill: var(--bg-color-head);
}

/******  /Footer - Form - Subscr ******/

/* ********** Hero-Portfolio ********** */

.hero-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.container-portfolio {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu-button {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  column-gap: 24px;
}

.button-filter {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-logo);
  background-color: var(--color-white-light);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color var(--trans-time-cubic);
}

.button-filter:hover,
.button-filter:focus {
  color: var(--bg-color-head);
  background: var(--color-text-hover-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.menu-img-card-portf {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.link-img-card-portf {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-img-card-portf:hover,
.link-img-card-portf:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-card {
  padding: 32px 16px;
  border: 1px solid var(--color-border);
  border-top: none;
}

.list-img-card-portf:first-child {
  width: calc((100% - 48px) / 3);
}

.title-description {
  margin-bottom: 8px;
}

.menu-img-card-portf .description {
  color: var(--color-text-head);
}

/* ********** /Hero-Portfolio ********** */

/*********** Overlay-Portfolio ***********/

.cont-overlay-card-port {
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 40px 32px;
  background-color: var(--color-logo);
  color: var(--color-white-light);
  left: 0;
  top: 0;

  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--trans-time-cubic);
}

.link-img-card-portf:hover .overlay,
.link-img-card-portf:focus .overlay {
  transform: translateY(0%);
}
/*********** /Overlay-Portfolio ***********/

/*********** Modal-Window ***********/

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--trans-time-cubic),
    visibility var(--trans-time-cubic);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  width: 408px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-height: 576px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: var(--color-border);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color var(--trans-time-cubic),
    border var(--trans-time-cubic);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-text-hover-focus);
  border: none;
}

.svg-modal-close-btn {
  transition: fill var(--trans-time-cubic);
}

.modal-close-btn:hover .svg-modal-close-btn,
.modal-close-btn:focus .svg-modal-close-btn {
  fill: var(--bg-color-head);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ******* DZ-6 ******* */

.desc-title-modal-form {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--color-text-sec);
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-svg-logo-cust);
  margin-bottom: 4px;
}

.container-lable {
  margin-bottom: 8px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  padding-left: 38px;

  transition: border-color var(--trans-time-cubic);
}

.contact-form-input:focus {
  border-color: var(--color-logo);
}

.svg-cont-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--trans-time-cubic);
}

.contact-form-input:focus + .svg-cont-input {
  fill: var(--color-logo);
}

.container-input-svg {
  display: block;
  position: relative;
}

.container-lable-textarea {
  margin-bottom: 16px;
}

.contact-textarea-form-input {
  width: 100%;
  padding: 8px 16px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);

  border: 1px solid rgba(46, 47, 66, 0.2);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  resize: none;
  transition: border-color var(--trans-time-cubic);
}

.contact-textarea-form-input:focus {
  border-color: var(--color-logo);
}

.container-chekbox {
  margin-bottom: 24px;
}

.form-label-chekbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-svg-logo-cust);
}

.container-checkbox-svg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-text-sec);
  border-radius: 2px;
  fill: transparent;
  cursor: pointer;
}

.chek-box:checked + .form-label-chekbox > .container-checkbox-svg {
  background-color: var(--color-text-hover-focus);
  border: none;
  fill: var(--bg-color-head);
  border-color: var(--color-text-hover-focus);
}

.accept-link {
  color: var(--color-logo);
}

.visually-hidden {
  position: absolute;
  appearance: none;
}

.btn-form-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  background: var(--color-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-color-head);

  transition: background-color var(--trans-time-cubic);
}

.btn-form-submit:hover,
.btn-form-submit:focus {
  background-color: var(--color-text-hover-focus);
}

/*********** /Modal-Window ***********/
